h2 {
  color: rgb(1, 108, 44);
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
}
.notes-body {
  height: 100vh;
  background: linear-gradient(165deg, #f9fdfc, #ceeee3);
  overflow: auto;
}
.notes-container {
  margin: 20px;
  padding: 20px;
}

/* .notes-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #2c3e50;
} */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  color: #777;
}

.empty-state img {
  width: 200px;
  height: auto;
  opacity: 0.8;
  margin-bottom: 16px;
}

.empty-state p {
  font-size: 16px;
  font-weight: 500;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 3%;
  justify-content: center;
}

.works {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.works div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.works label {
  font-weight: 600;
  color: #2c3e50;
}

.works span {
  color: #555;
}

.works > span {
  text-align: right;
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}
.search-box {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 0px solid black;
}
.search {
  width: 23%;
  border-radius: 30px;
  border: 1px solid rgb(13, 202, 89);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-icon {
  position: absolute;
  right: 3.5%;
  font-size: 18px;
  color: #0b0b0b;
}
.back {
  background-color: rgb(36, 197, 101);
  border-radius: 20px;
  padding: 2px;
  color: rgb(13, 14, 14);
  font-size: 30px;
}
@media screen and (max-width: 1440px) {
  .search {
    width: 25%;
    height: 45px;
  }
  .search-box .search-icon {
    right: 5%;
  }
}
@media screen and (max-width: 1040px) {
  .search {
    width: 30%;
    height: 40px;
  }
  .search-box .search-icon {
    right: 6%;
  }
}
@media screen and (max-width: 1018px) {
  .search {
    width: 40%;
    height: 40px;
  }
  .search-box .search-icon {
    right: 34%;
  }
  .search-box {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .search {
    width: 45%;
    height: 40px;
  }
  .search-box .search-icon {
    right: 32%;
  }
  h2 {
    font-size: 45px;
  }
  .search-box {
    justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  .search {
    width: 50%;
    height: 30px;
  }
  .search-box .search-icon {
    right: 32%;
  }
  h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 545px) {
  .search {
    width: 60%;
    height: 30px;
  }
  .search-box {
    justify-content: center;
  }
  .search-box .search-icon {
    right: 28%;
  }
  h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 425px) {
  .search {
    width: 65%;
    height: 30px;
  }
  .search-box {
    justify-content: center;
  }
  .search-box .search-icon {
    right: 28%;
  }
  h2 {
    font-size: 23px;
  }
}
@media screen and (max-width: 376px) {
  .search {
    width: 75%;
    height: 30px;
  }
  .search-box {
    justify-content: center;
  }
  .search-box .search-icon {
    right: 25%;
  }
  h2 {
    font-size: 23px;
  }
}
@media screen and (max-width: 321px) {
  .search {
    width: 85%;
    height: 30px;
  }
  .search-box {
    justify-content: center;
  }
  .search-box .search-icon {
    right: 23%;
  }
  h2 {
    font-size: 23px;
  }
}
